.emailBox{margin:20px;}
.emailBox p{font-size: 18px;margin-bottom: 20px;}
.emailBox div span{font-size: 16px;margin-right: 20px;}
.emailBox div input{width: 400px;height: 34px;border: 1px solid #e5e5e5;color: #666666;padding-left: 10px;}
.emailBox div a{font-size: 16px;display: inline-block;background: #48cfae;color: #fff;padding: 5px 10px;margin: 10px 0 0 5px;}
.emailBox div a.noEmail{font-size: 14px;display: inline-block;padding: 0px;margin: 0px 0 0 20px;background: none;text-decoration: underline;color:#428bca;}
.noEmailBox{border: 1px solid #e5e5e5;width: 650px;padding: 20px 30px;}
.noEmailBox h4{font-size: 16px;font-weight: 400;margin-bottom: 15px;}
.noEmailBox ul{padding-left: 20px;}
.noEmailBox ul li{list-style: disc;margin-bottom: 10px;}
.noEmailBox ul li a{text-decoration:underline; }
.setUpBox div{margin-bottom: 20px;}
.setUpBox span{display: inline-block;width: 64px;}
.setUpBox div.setUpBtn input{background: #48cfae;width: 100px;height: 40px;border: none;line-height: 40px;text-align: center;padding-left: 0px;color: #fff;font-size: 16px;}
.setUpBox .setUpBtn{margin-left: 84px;}