@charset "utf-8";
@import "../module/d-reset.css";
@import "../module/mod_course_header.css";
@import "../module/mod_course_common.css";
@import "../module/mod_course_search.css";

body {
    background-color: #F5F9FA;
    font-family: "Microsoft YaHei";
}

.course-con {
    width: 1000px;
    margin: 46px auto 30px auto;
}

.com-pages {
    padding: 40px 0 30px 0px;
}

.search-know-tree .con-tit {
    padding-top: 0px;
}

.search-know-tree.search-video .con-tit {
    padding: 0;
}

.con-title {
    color: #336699;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 43px;
}