{% extends 'base.html' %}
{% block header_js_css %}
    <link rel="stylesheet" href="/static/css/getPassword.css">
{% endblock %}
{% block content %}
    <div class="main f-cb">
        <div class="left f-fl">
            <div class="caption f-cb">
                <h3 class="captionLeft f-fl">忘记密码</h3>
            </div>
            <div class="emailBox">
                <p>可以通过登录邮箱来找回密码</p>

                <form method="post" action="/mailToRetake/" name="retakeForm">
                    {% csrf_token %}
                    <div><span>登录邮箱</span><input type="text" name="loginEmail" value="{{ mail }}"><a href="#" onclick="document.retakeForm.submit();">发送找回密码邮件</a></div>
                </form>
                <div class="error" style="margin-top:15px; color: #ff6371">{{ error }}</div>
            </div>
        </div>
    </div>
    <div class="bottomWrap">
        <div class="bottom">
            <ul>
                <li>北京千字文教育科技有限公司&nbsp;版权所有</li>
                <li>Copyright © 2014-2015, icmooc.cn, All Rights Reserved 京ICP备 14030440号</li>
            </ul>
            <div class='contact'>
                <span>联系我们:</span>
                <img src="/static/images/sinag.png" alt="">
                <img src="/static/images/winxing.png" alt="">
            </div>
        </div>
    </div>
{% endblock %}