{% extends 'base.html' %}
{% block header_js_css %}
    <link rel="stylesheet" href="/static/css/getPassword.css">
    <script>
        $(function () {
            $("#btnSave").click(function () {
                var data = {};
                data.userId = $("#userId").val();
                data.userMd = $("#userMd").val();
                data.newPassword = $("#newPassword").val();
                data.newPasswordRetype = $("#newPasswordRetype").val();
                $.post("/changePasswordFromMail/", JSON.stringify(data), function (data) {
                    if (data.result == false) {
                        alert('保存出错。'+ data.error);
                        return;
                    } else {
                        alert('保存成功。')
                        location.href = '/';
                    }
                });
            });
        })
    </script>
{% endblock %}
{% block content %}
    <div class="main f-cb">
        <div class="left f-fl">
            <div class="caption f-cb">
                <h3 class="captionLeft f-fl">设置密码</h3>
            </div>
            <div class="emailBox setUpBox">
                <p>可以通过登陆邮箱来找回密码</p>

                <form action="/changePasswordFromMail/" method="post" id="resetForm">
                    <div><span>新密码</span><input type="password" id="newPassword"></div>
                    <div><span>再次输入</span><input type="password" id="newPasswordRetype"></div>
                    <input type="hidden" id="userId" value="{{ user_id }}">
                    <input type="hidden" id="userMd" value="{{ user_md }}">

                    <div class="setUpBtn"><input type="button" value="提交" id="btnSave"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="bottomWrap">
        <div class="bottom">
            <ul>
                <li>北京千字文教育科技有限公司&nbsp;版权所有</li>
                <li>Copyright © 2014-2015, icmooc.cn, All Rights Reserved 京ICP备 14030440号</li>
            </ul>
            <div class='contact'>
                <span>联系我们:</span>
                <img src="images/sinag.png" alt="">
                <img src="images/winxing.png" alt="">
            </div>
        </div>
    </div>
{% endblock %}